<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head th:fragment="header">
	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <meta name="referrer" content="unsafe-url">

    <meta http-equiv="Cache-Control" content="no-transform" />

    <link rel="dns-prefetch" href="http://mail.qq.com" />
    <link rel="dns-prefetch" href="http://tongji.baidu.com" />
    <link rel="dns-prefetch" href="http://shang.qq.com" />
    <link rel="dns-prefetch" href="http://api.share.baidu.com" />
    <link rel="dns-prefetch" href="http://nsclick.baidu.com" />
    <link rel="dns-prefetch" href="https://hm.baidu.com" />
    <link rel="dns-prefetch" href="http://bdimg.share.baidu.com" />

    <link rel="stylesheet" href="../../static/js/plugins/bootstrap/tether.min.css" th:href="@{js/plugins/bootstrap/tether.min.css}" />
    <link rel="stylesheet" href="../../static/js/plugins/bootstrap/bootstrap.min.css" th:href="@{js/plugins/bootstrap/bootstrap.min.css}" />
    <script type="text/javascript" src="../../static/js/jquery-core/jquery-3.2.1.min.js" th:src="@{js/jquery-core/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" src="../../static/js/plugins/bootstrap/bootstrap.min.js" th:src="@{js/plugins/bootstrap/bootstrap.min.js}"></script>

    <script type="text/javascript" th:inline="javascript">
		$(document).ready(function () {
			alert("页面加载");
		});
    </script>
</head>


<body>
</body>
</html>